.main {
  display: flex;
  flex-direction: row;
}

.main__article {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.main__article h2 {
  text-align: center;
}

.main__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  min-width: 250px;
}

.article li {
  padding: 5px 10px;
  background-color: #d1e1f9;
  margin: 20px 0;
  list-style-type: none; /* Убираем маркеры */
 }
.article li:hover {
  background-color: #accbf9;
  cursor: pointer;
}

.article ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
 }

 .text {
  max-width: 600px;
 }

 .btn {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  outline: 0;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
 }

 .preloader {
  width: 150px
}